extends layout

block content
  div(class='stepblock') 
    h1 Step 1:
    p Are you tired of hiding indoors because you fear the question "how cute! What's your pet's name?". All you have to do is click the button, answer some simple questions and you'll be makin' it!
  div(class='stepblock') 
    h1 Step 2:
    p Discover the power of Woobster and unlock a name for your pet that was beyond your wildest dreams. All you have to do is click the button, so click the button!
  div(class='stepblock') 
    h1 Step 3:
    p Take your life back! Get out there and do all of those things that you wanted to do, but were afraid to. Take a walk, a jog, take your fish for a swim, your bird for glide.  YOU do not have to hide anymore.
  div(class='actionbutton')
    a(class="innerButton" href='/patributes') Let's do this!

