doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    script(src='./javascripts/serviceClient.js')
  body
    h1= title
    div(class='header')
      
      p(class='titlecontent') Finally, pet naming made easy.  
        a(href='/') -Home-
  block content
    
    
